<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Commercial_Automation_System.Properties.Settings.CommercialAutomationDBConnectionString"
            connectionString="Data Source=DESKTOP-U5PMUAL\SQLEXPRESS;Initial Catalog=CommercialAutomationDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>